<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px
        }
    </style>
</head>
<body>
<p>
    Hello {{UserName}},
</p>
<p><b>Welcome!</b></p>

<p>Your account has been successfully created.</p>

<p>Use the following credentials when prompted to sign in:</p>

<p><b>Username:</b> {{UserName}}</p>
<p><b>Password:</b> {{Password}}</p>

<p>
    To sign into your account please click <a href="www.google.com">here</a>
</p>

<p>Please feel free to contact Customer Service for further assistance.</p>

<table>
    <tr>
        <td>
            Sewwandi Wickramarathna
        </td>
        <td>
            Assistant Manager-Customer Service
        </td>
        <td>
            0714824102
        </td>
        <td>
            0117574590
        </td>
        <td>
            sewwandi@transnational-grp.com
        </td>
    </tr>
    <tr>
        <td>
            Mohamed ifham
        </td>
        <td>
            Customer Service Executive
        </td>
        <td>
            0713850026
        </td>
        <td>
            0117574583
        </td>
        <td>
            tbpm.marketing@transnational-grp.com
        </td>
    </tr>
    <tr>
        <td>
            Yuthmila Umashi
        </td>
        <td>
            Customer Service Coordinator
        </td>
        <td>
            0711233337
        </td>
        <td>
            0117574575
        </td>
        <td>
            tbpm-cs1@transnational-grp.com
        </td>
    </tr>
    <tr>
        <td>
            Didula Abayasekara
        </td>
        <td>
            Customer Service Assistant
        </td>
        <td>
            0706245794
        </td>
        <td>
            0117574576
        </td>
        <td>
            tbpm-cs@transnational-grp.com
        </td>
    </tr>
</table>

<p>This is an automated email - Please do not reply directly to this email.</p>

</body>
</html>