<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px
        }
    </style>
</head>
<body>
    <p>
        Hello {{UserName}},
    </p>
    <p><b>Welcome!</b></p>

    <p>Your account has been reset successfully.</p>

    <p>Use the following credentials when prompted to sign in:</p>

    <p><b>Username:</b> {{UserName}}</p>
    <p><b>Password:</b> {{Password}}</p>

    <p>
        To sign into your account please click <a href="http://192.168.52.101:8200/">here</a>
    </p>

    <p>Please feel free to contact Customer Service for further assistance.</p>

    <p>
        Mohamed Ifham|0713850026|tbpm.marketing@transnational-grp.com
    </p>
    <p>
        Didula abayasekara|0706245794|tbpm-cs@transnational-grp.com
    </p>

    <p>This is an automated email - Please do not reply directly to this email.</p>

</body>
</html>